body {
    background-color: #fff;
        color: #393f47;
        font: normal 16px/24px Inter, Helvetica, Arial, sans-serif;
        line-height: 1.2;
        margin: 0;
}
.about-owner {
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    z-index: 1;
}
.registre-place {
    box-sizing: border-box;
    width: 100%;
}
.product-list {
    display: flex;
}
.nav-list {
    align-items: center;
}
.ab-site {
    color: #7f8b99;
}
.our-prct {
    min-height: 48px;
    min-width: 48px;
    padding: 11px 16px;
}
.ab-me {
    align-items: center;
    backface-visibility: hidden;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font: normal 16px/24px Inter, Helvetica, Arial, sans-serif;
    font-weight: 500;
    justify-content: center;
    margin: 0;
    position: relative;
    text-decoration: none;
    transition: color .25s cubic-bezier(.3, 1, .4, 1) 0s, border-color .25s cubic-bezier(.3, 1, .4, 1) 0s, background-color .25s cubic-bezier(.3, 1, .4, 1) 0s;
    user-select: none;
    will-change: opacity;
}
.contact {
    color: #0b71d9;
}
.sign-up {
    min-height: 48px;
    min-width: 48px;
    padding: 11px 16px;
}
.post {
    align-items: center;
    backface-visibility: hidden;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font: normal 16px/24px Inter, Helvetica, Arial, sans-serif;
    font-weight: 500;
    justify-content: center;
    margin: 0;
    position: relative;
    text-decoration: none;
    transition: color .25s cubic-bezier(.3, 1, .4, 1) 0s, border-color .25s cubic-bezier(.3, 1, .4, 1) 0s, background-color .25s cubic-bezier(.3, 1, .4, 1) 0s;
    user-select: none;
    will-change: opacity;
}
.registration-place {
    
}